{% extends "base.html" %}
{% load static %}
{% block content %}



    <!-- Main News Slider Start -->
    <div class="container-fluid">
        <div class="row container mx-auto">
            <div class="col-lg-12 px-0">
                <div class="owl-carousel main-carousel position-relative">
                    {% for blogs in blog %}
                        <a href="{% url 'single' blogs.id %}" class="position-relative overflow-hidden" style="height: 500px;">
                        <img class="img-fluid h-100" src="{{ blogs.image.url }}" style="object-fit: cover;">
                        <div class="overlay">
                            <div class="mb-2">
                                <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                    href="">{{blogs.category}}</a>
                                <a class="text-white" href="">{{blogs.user}}</a>
                            </div>
                            <a class="h2 m-0 text-white text-uppercase font-weight-bold" href="">{{ blogs.title}}</a>
                        </div>
                    </a>
                    {% endfor %}
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Main News Slider End -->



    <!-- Featured News Slider Start -->
    <div class="container-fluid pt-5 mb-3">
        <div class="container">
            <div class="section-title">
                <h4 class="m-0 text-uppercase font-weight-bold">All Category </h4>
            </div>
            <div class="owl-carousel news-carousel carousel-item-4 position-relative">
                {% for categorys in category%}
                <a href="{% url 'category' categorys.id %}" class="position-relative overflow-hidden" style="height: 300px;">
                    <img class="img-fluid h-100" src="{{ categorys.image.url }}" style="object-fit: cover;">
                    <div class="overlay">
                        <div class="mb-2">
                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                href="">{{categorys.title}} </a>
                        </div>
                        <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" href="">Learn More</a>
                    </div>
                </a>
                {% endfor %}
                
            </div>
        </div>
    </div>
    <!-- Featured News Slider End -->


    <!-- News With Sidebar Start -->
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-title">
                                <h4 class="m-0 text-uppercase font-weight-bold">Latest News</h4>
                                <a class="text-secondary font-weight-medium text-decoration-none" href="">View All</a>
                            </div>
                        </div>
                        
                        {% for blogs in blog %}
                            <div class="col-lg-6">
                            <div class="position-relative mb-3">
                                <img class="img-fluid w-100" src="{{ blogs.image.url }}" style="object-fit: cover;">
                                <div class="bg-white border border-top-0 p-4">
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                            href="">{{blogs.category}}</a>
                                        <a class="text-body" href=""><small>{{blogs.user}}</small></a>
                                    </div>
                                    <a class="h4 d-block mb-3 text-secondary text-uppercase font-weight-bold" href="">{{ blogs.title}} </a>
                                </div>
                                <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                                    <div class="d-flex align-items-center">
                                        <img class="rounded-circle mr-2" src="img/user.jpg" width="25" height="25" alt="">
                                        <small>John Doe</small>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <small class="ml-3"><i class="far fa-eye mr-2"></i>12345</small>
                                        <small class="ml-3"><i class="far fa-comment mr-2"></i>123</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>
    <!-- News With Sidebar End -->


    <!-- Footer Start -->
{% endblock %}